body,h1,p,a,ul,li,hr{
	margin: 0;
	padding: 0;
}

body{
	background-color: #fafafa;
/*	background: url(../img/bg/miku/bg9.jpg) no-repeat fixed;*/
}

#bg{
	position: fixed;
	z-index: -100;
	filter: blur(5px);
	min-height: 1080px;
	min-width: 1920px;
}

li{
	list-style: none;
}

a{
	text-decoration: none;
}

::-webkit-scrollbar{
	background-color: #6cf;
	width: 10px;
}

::-webkit-scrollbar-thumb{
	border-radius: 10px;
	background-color: #00A7FF;
}