.post{
	width: 1076px;
	border-radius: 5px;
	box-shadow: 0px 0px 20px 1px #b7d3f2;
	margin: 0px auto 20px;
	background-color: #fff;
	box-sizing: border-box;
	text-align: center;
	padding-bottom: 10px;
}

.post_top{
	border-radius: 5px 5px 0px 0px;
	background-color: #6cf;
	padding-top: 10px;
	text-shadow: 2px 2px 7px #fff;
}

.post_title_link{
	font-size: 22px;
	font-weight: bold;
}

.post_title_link,.post_title_link:visited{
	color: #044999;
}

.post_title_link:hover{
	color: #3D94CB;
}

.post_content{
	padding: 5px;
}

.read_more{
	display: inline-block;
	width: 80px;
	font-size: 18px;
	text-align: center;
	line-height: 25px;
	height: 25px;
	background-color: #03A9F4;
	border: 0px;
	border-radius: 3px;
	color: #fff;
}

.post_meta{
	font-size: 14px;
	box-sizing: border-box;
	border-bottom: 1px solid #ccc;
}

.post_meta div{
	padding: 5px;
}

.post_meta span{
	margin-right: 10px;
}

.post_meta a,.post_meta a:visited{
	color: #1067B9;
}

.post_meta a:hover{
	color: #73B0DA;
}

.post_meta ul{
	display: inline-block;
	position: relative;
    top: 4px;
}

.post_meta ul li{
	float: left;
	margin-right: 5px;
}


.page_nav{
	overflow: hidden;
	text-align: center;
	margin-top: 20px;
	position: relative;
	padding: 10px 0;
	margin-bottom: 20px;
}

.page_nav>*{
	border-radius: 3px;
	background-color: #fff;
	border: 1px solid #C0D1D8;
	font-size: 14px;
	padding: 4px 12px;
	margin: 0 5px;
	color: #719CF7;
}

.page_nav>*:not(.current):hover{
	background-color: #C6D8FF;
}

.page_nav>.current{
	border: 0;
}