<!-- public nav part -->
<nav class="nav_normal">
	<div class="nav_center">
		<ul class="main_page"><li><a href="<%- url_for('/') %>
"><%- image_tag('img/icon_1.png') %><span class="title">首页</span></a></li>
		</ul>
		<%- list_categories() %>
	</div>
</nav>

<script>
	var nav = document.querySelector('.nav_normal');
	var header = document.querySelector('header');
	window.addEventListener('scroll', function(){
		if(window.scrollY >= 180){
			nav.className = "nav_normal nav_open";
			header.style.marginBottom = "50px";
		}else{
			nav.className = "nav_normal";
			header.style.marginBottom = "0";
		}
	});
</script>
