<!-- public baker part -->
<div class="backer hidden">
	<a href="#top">back</a>
</div>

<script type="text/javascript">
	var backer = document.querySelector('.backer.hidden');
	window.addEventListener('scroll', function(){
		if(window.scrollY >= 180){
			backer.className = "backer";
		}else{
			backer.className = "backer hidden";
		}
	})
</script>