.backer{
	width: 40px;
	height: 40px;
	background-color: #6cf;
	position: fixed;
	left: 97%;
	top: 88%;
	border-radius: 5px;
	box-shadow: 5px 5px 10px #B7D3F2;
	transition: opacity .3s;
}

.hidden{
	opacity: 0;
}